<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- net.softsociety.Team4GroupWare.dao패키지의 DraftDAO인터페이스와 매핑됨 -->
<mapper namespace="net.softsociety.Team4GroupWare.dao.DraftDAO">
	<!-- 로그인 사원 조회 -->
	<select id="readEmployee" parameterType="String" resultType="Employee">
		select *
		from team4_employee
		where employee_id = #{employee_id}
	</select>
	
	<!-- 예비 기안 시퀀스 추가 -->
	<select id="createCode" resultType="String">
		select (LPAD(team4_draft_seq.nextval, 4, 0))
		from dual
	</select>
	
	<!-- 결재선 추가 -->
	<insert id="addApprover" parameterType="DraftApprover">
		insert into team4_draft_approver
		(approver_code
		,draft_code
		,employee_code
		,approver_name
		,process_type
		,process_turn_code
		,process_enabled)
		values
		(LPAD(team4_approver_seq.nextval, 4, 0)
		,#{draft_code}
		,#{employee_code}
		,#{approver_name}
		,#{process_type}
		,#{process_turn_code} + 1 
		,#{process_enabled}
		)
	</insert>
	
	<!-- 기안에 있는 결재선 카운팅 -->
	<select id="countDraftCode" parameterType="String" resultType="String">
		select *
		from team4_draft_approver
		where draft_code = #{draft_code}
	</select>
	
	<!-- 결재자 찾기 -->
	<select id="readApprover" parameterType="DraftApprover" resultType="DraftApprover">
		select *
		from team4_draft_approver
		where draft_code = #{draft_code} and employee_code = #{employee_code}
	</select>
</mapper>