<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- net.softsociety.Team4GroupWare.dao패키지의 DraftDAO인터페이스와 매핑됨 -->
<mapper namespace="net.softsociety.Team4GroupWare.dao.DraftDAO">
	<!-- 로그인 사원 조회 -->
	<select id="readEmployee" parameterType="String" resultType="Employee">
		select *
		from team4_employee
		where employee_id = #{employee_id}
	</select>
	
	<!-- 기안 시퀸스 추가 -->
	<insert id="addDraftSeq">
		insert into team4_draftcode
		values (LPAD(team4_draftcode_seq.nextval, 4, 0))
	</insert>
</mapper>