<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.Team4GroupWare.dao.ManagementDAO">
	<!-- 개인의 연봉 정보 불러오기 -->
		<select id="seleteSalaryOne" parameterType="String" resultType="Salary">
			select *
			from team4_salary
			where employee_code = #{employee_code}
		</select>
	
	<!-- 개인의 세금 정보 불러오기 -->
		<select id="selectTaxInfo" parameterType="map" resultType="Tax">
			select *
			from team4_tax
			where employee_code = #{employee_code}
				  AND tax_year = #{tax_year}
		</select>      
</mapper>