<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.Team4GroupWare.dao.ManagementDAO">
	<!-- 개인의 연봉 정보 불러오기 -->
		<select id="seleteSalaryOne" parameterType="String" resultType="Salary">
			select *
			from team4_salary
			where employee_code = #{employee_code}
		</select>
	
	<!-- 개인의 세금 정보 불러오기 -->
		<select id="selectTaxInfo" parameterType="map" resultType="Tax">
			select *
			from team4_tax
			where employee_code = #{employee_code}
				  AND tax_year = #{tax_year}
		</select>
	<!-- 개인의 출퇴근 정시 정보 불러오기 -->
		<select id="selectTimesheetOne" parameterType="map" resultType="TimeSheet">
		select 
			company_code
			, employee_code
			, time_sheet_code
			, time_sheet_start
			, time_sheet_end
			, time_sheet_overtime 
		from team4_time_sheet
		where employee_code = #{employee_code}
		and time_sheet_code = #{time_sheet_code}
		</select>   
		<!-- 개인의 출퇴근 정시 정보 불러오기 -->
		<select id="selectTimesheetOnlyTime" parameterType="String" resultType="TimeSheet">
		select 
			company_code
			, employee_code
			, time_sheet_code
			, TO_CHAR(time_sheet_start, 'HH:MI') as time_sheet_start
			, TO_CHAR(time_sheet_end, 'HH:MI') as time_sheet_end
			, time_sheet_overtime 
		from team4_time_sheet
		where employee_code = #{employee_code}
		</select>
		<!-- 개인의 한 달간 출퇴근 기록 불러오기 -->
		<select id="selectTimesheetOneMonth" parameterType="String" resultType="TimeSheet">
		select *
		from team4_time_sheet
		where employee_code = #{employee_code}
		</select>
		<!-- 개인의 연차 사용 정보 불러오기 -->
		<select id="getVacationdays" parameterType="String" resultType="Vacation">
		select *
		from team4_vacation
		where employee_code = #{employee_code}
		</select>		
		   
</mapper>