<!DOCTYPE html>
<html lang="ko"  
	  xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KUROWARE ADMIN PAGE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons  : 탭 창에서 보이는 이모티콘 -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">

  <!-- data table -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/admin}" class="logo d-flex align-items-center">
        <img th:src="@{/assets/img/logo.png}" alt="">
        <span class="d-none d-lg-block">KUROWARE</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
	      	<span th:if="${company.company_logo} == null"><img th:src="@{/image/caticon.png}"></span>
	        <span th:if="${company.company_logo} != null"><img th:src="@{/assets/upload/admin/} + ${company.company_logo}" alt="Profile" class="rounded-circle" style="height: 60px;"></span>
            <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${company.company_name}"></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6 th:text="${company.company_name}"></h6>
              <span>관리자페이지</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/admin/companyInfo}">
                <i class="bi bi-person"></i>
                <span>Company Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/admin/adminInfo}">
                <i class="bi bi-gear"></i>
                <span>Admin Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
      </ul>
    </nav><!-- End Icons Navigation -->
  </header><!-- End Header -->
  <!-- ======= Sidebar ======= -->
  <aside th:replace="/admincommon/aside :: aside"></aside><!-- End Sidebar-->

  <main id="main" class="main">
  <div class="pagetitle">
      <h1>관리자 게시판</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
          <li class="breadcrumb-item active">관리자 게시판</li>
        </ol>
      </nav>
   </div><!-- End Page Title -->

   	<section class="section dashboard">
   		 <div class="card">
            <div class="card-body" style="height: 1000px;">
            
              <!-- 선택 탭 nav -->
   			  <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                <li class="nav-item flex-fill" role="presentation">
                  <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">게시판 작성</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                  <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">게시판 수정 및 삭제</button>
                </li>
              </ul>
              
              <!-- 게시판 작성 nav -->
              <div class="tab-content pt-2 my-2" id="borderedTabJustifiedContent">
                <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
					<!-- start 게시판 선택 -->
					<form id="saveBoardForm">
                    <div class="row">
                    	<div class="col-lg-6">
                    		<div class="input-group text-center">
                    			<span class="input-group-text">글 제목</span>
                    			<input type="text" class="form-control" id="admin_board_title">
                    		</div>
                    		<p class="small">* <b style="color:red;">(필수)</b>글 제목을 입력해주세요.</p>
                    	</div>
                    	<div class="col-lg-6">
                    		<div class="input-group">
                    			<span class="input-group-text">게시판 선택</span>
                    			<select id="admin_board_type" class="form-select text-center">
                    				<option selected>게시판 종류 선택</option>
				                    <option value="notice">전사공지</option>
				                    <option value="software">사내 소프트웨어</option>
				                    <option value="freeboard">자유게시판</option>
                    			</select>
                    		</div>
                    		<p class="small">* <b style="color:red;">(필수)</b>게시판을 선택해주세요.</p>
                    	</div>
	                   	<div class="col-lg-12">
	                    	<!-- 웹 에디터 시작 -->
	                    	<div id="admin_board_contents" class="quill-editor-full mb-2" style="height: 500px;"><p class="small">* <b style="color:red;">(필수)</b>글 내용을 입력해주세요.</p></div> 
							<!-- 파일 첨부 시작 -->
							<h5>● 파일 첨부</h5>
							<div class="input-group">
								<input class="form-control form-control-user product_files" type="file" name="upload" multiple="multiple">
								<div class="input-group-append">
                                	<button class="btn btn-primary" type="button" id="attachedFilesButton">업로드</button>
                                </div>
							</div>
						</div>
						<div class="col-lg-12 text-center">
							<input type="button" class="btn btn-primary" value="저장" id="saveBoardButton">
						</div>
	            	</div>
				</form>
	            </div>
	            
	            <!-- 게시판 목록 nav -->
                <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
                	<!-- start 게시판 선택 -->
                    <div class="row">
                    	<div class="col-lg-4 my-2">
                    		<h5>● 게시판 선택</h5>
                    		<div class="input-group mb-3">
                    			<span class="input-group-text">게시판 선택</span>
                    			<select id="readBoardType" class="form-select text-center">
                    				<option value="all" selected="selected">게시판 종류 선택</option>
				                    <option value="notice">전사공지</option>
				                    <option value="software">사내 소프트웨어</option>
				                    <option value="freeboard">자유게시판</option>
                    			</select>
                    		</div>
                  	  	</div>
               	 		<div class="col-lg-12 my-2">
               	 			<table id="dataTable" class="table">
							    <thead>
						      		<tr>
						      			<th>게시글 번호</th>
							      		<th>제목</th>
							      		<th>업로드 날짜</th>
						      		</tr>
					      		</thead>
					      		<tbody id="boardData">
					      			<tr th:each="board : ${board}">
					      				<td th:text="${board.admin_board_code}"></td>
					      				<td><a th:href="|read?admin_board_code=${board.admin_board_code}|"><span th:text="${board.admin_board_title}"></span></a></td>
					      				<td th:text="${board.admin_board_inputdate}"></td>
					      			</tr>
					      		</tbody>
	      					</table>
               	 		</div>
			  		</div>    
    			</div>
    		</div>
    	</div>
    </div>
    </section>
  </main><!-- End #main -->
<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.min.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
  
  <!-- 제이쿼리, 에이젝스 -->
  <script th:src="@{/assets/js/jquery-3.6.0.js}"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
  
	<script>
		$(document).ready(function() {
			$('#dataTable').DataTable();
			$('#saveBoardButton').on('click',validation);
			
			$('#readBoardType').on('change', function(){
				let readBoardType = $('#readBoardType option:selected').val();
				console.log(readBoardType);
				
				$.ajax({
					url: 'selectBoardType',
					type: 'post',
					data : {admin_board_type : readBoardType},
					dataType : 'json',
					success: function (data) {
						console.log(data);
						if(data == null || data == '' || data == []){
							let s;
							s = '<tr class="text-center">';
							s += '<th colspan=3>'
							s += '<img class="my-5" src="../assets/img/no-results.png" alt="no-results" width="400px">';
							s += '<h3 class="my-5"><b>게시글이 없습니다.</b></h3>';
							s += '</th></tr>';
							
							$('#boardData').html(s);
						} else {
							let s;
							
							$.each(data, function(idx, ob){
								s += '<tr>';
								s += '<td>' + ob.admin_board_code + '</td>';
								s += '<td><a href="read?admin_board_code='+ob.admin_board_code+'">' + ob.admin_board_title + '</a></td>';
								s += '<td>' + ob.admin_board_inputdate + '</td>';
								s += '</tr>';
							});
							
							$('#boardData').html(s);
						}
					},
					error: function (e) {
						console.log(e.responseText);
					}
				});
			});
		});
		
		function validation() {
			/* 에디터 입력 내용 */
			let admin_board_title = $('#admin_board_title').val();
			let admin_board_type = $('#admin_board_type option:selected').val();
			let contents = $('.ql-editor').html();
			let admin_board_contents = encodeURIComponent(contents);
			
			if(admin_board_title == null || admin_board_title == ''){
				alert('글 제목을 입력해주세요.');
				return false;
			}
			
			if(admin_board_type == null || admin_board_type == ''){
				alert('게시판을 선택해주세요.');
				return false;
			}
			
			if(contents == null || contents == ''){
				alert('글 내용을 입력해주세요.');
				return false;
			}
			
			$.ajax({
				url: 'saveBoard',
				type: 'post',
				data : {admin_board_title : admin_board_title, admin_board_type : admin_board_type, admin_board_contents : admin_board_contents},
				dataType : 'text',
				success: function (data) {
					console.log(data);
					var formData = new FormData();
					
					var inputFile = $("input[name='upload']");
					
					var files = inputFile[0].files;
					
					console.log(files);
					
					for(var i = 0; i < files.length; i++){
						formData.append("upload", files[i]);
					}
					formData.append("document_code", data);
					
					$.ajax({
						url: 'uploadFile',
						type: 'post',
						data : formData,
						processData : false,
						contentType : false,
						success: function (data) {
							console.log(data);
							let url = '/team4/admin/adminBoard'
							location.replace(url);
						},
						error: function (e) {
							console.log(e.responseText);
						}
					});
				},
				error: function (e) {
					console.log(e.responseText);
				}
			});
		};
	</script>
</body>
</html>